.external{
    height: 600px;
    width: 400px;
    background-color: rgb(71, 146, 117);
}
#idSelector{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}
ol{
    margin-top:100 px ;
    list-style-type: circle; 
}
*{
    background-color: aquamarine;
}