.dropdown{
    position: relative;
    display: flex;
}
.dropdown1{
    top: 50%;
    position: absolute;
    background: white;
    border: 1px solid #cec9c9;
    padding: 2px;
    list-style: none;
}
li {
    padding: 5px;
}
  

  

  